* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: salmon;
  height: 100vh;
}

.app {
  border: 4px solid rgb(203, 93, 81);
  padding: 20px 50px;
  border-radius: 30px 10px;
  margin: 0% 25%;
  background-color: antiquewhite;
}

h1 {
  font-weight: 775;
  text-align: center;
  margin: 10px 10px 20px;
  font-size: 1.7em;
}

.add {
  text-align: center;
}

#itemToAdd {
  border: 2px solid #c8c2c2;
  border-radius: 3px;
  padding: 3px;
}

#addButton {
  background-color: rgb(203, 93, 81);
  color: white;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
}

.btn-link {
  border: 0px;
  background-color: transparent;
  float: right;
  color: rgb(89, 4, 154);
  text-decoration: underline;
}

ul.todo li{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

ul.todo li:last-child{
  border-bottom: 0px;
}

.todo {
  padding: 0px;
}